/*--Import af ikoner--*/
    @import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');

/*--Generelle regler, farver og typografi--*/
    :root{
        --darkest-purple: #1C172F; 
        --darker-purple: #241E3C;
        --dark-purple: #30274F;
        --purple: #433770;
        --light-purple: #54458C;
        --peach: #E77360;
        --titel-text:#F0EEE6;
        --body-text:rgba(240, 238, 230, 0.7);
    }

    *{
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        box-sizing: border-box;
        font-weight: 100;
    }

    body, a{
        color: var(--titel-text);
    }

    .flex{
        display: flex;
        justify-content: space-between;
    }

    .img-max{
        min-width: 100%;
        min-height: 100%;
        display: block;
    }



.center{
    justify-content: center;
    text-align: center;
}

.titel{
    font-family: "gyst-variable",sans-serif;
    font-variation-settings: 'wght' 550;
    font-size: 13vw;
}

.titel-big{
    font-size: 17vw;
}

.heading{
    font-family: "mundial", sans-serif;
    font-weight: 100;
    font-size: 6.5vw;
    padding-bottom: 1.7vw;
    line-height: 7vw;
}

.heading-small{
    font-size: 4vw;
    font-weight: 100;
}

.bodytext{
    font-family: 'poppins-light', sans-serif;
    font-style: italic;
    color: var(--body-text);
    font-size: 3.4vw;
    line-height: 5vw;
}

.page-content{
    background-image: url("/src/assets/background-default.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 7vw;
}


.button a{
    color: var(--darkest-purple);
    font-weight: 800;
}

.button{
    font-family: "poppins", sans-serif;
    font-size: 17px;
    border-radius: 20vw;
    background-color: var(--peach);
    text-align: center;
    width: fit-content;
    position: relative;
}

.btn-small{
    padding: 5px 27px 3px 27px;
}

.btn-big a{
    padding: 11px 25px 11px 25px;
}

.button-purple{
    font-family: "poppins", sans-serif;
    font-weight: 400;
    background-color: var(--titel-text);
    color: var(--darker-purple);
}

.titel-tab{
    padding-left: 15vw;
}

nav{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest-purple);
    box-shadow: inset 0 7px 15px -7px rgb(0, 0, 0,0.7);
    z-index: 100;
}

nav a{
    display: flex;
    color: var(--titel-text);
    font-size: 9vw;
    padding-bottom: 3vw;
    padding-top: 3vw;
    justify-content: center;
}

.active{
    background-image: url("/src/assets/nav-active.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.nav-item{
    width: 33%;
}



.audio-container{
    display: flex;
    align-items: center;
    background-color: var(--darkest-purple);
    margin-bottom: 3vw;
    border-radius: 20vw;
    padding: 1vw;
    width: 100%;
    min-width: fit-content;
    font-family: "poppins", sans-serif;
    font-weight: 100;
}

.playbutton{
    border: none;
    background: transparent;
    width: 14vw;
    padding: .5vw;
}

.audiotext{
    font-size: 3vw;
    line-height: 4vw;
    min-width: 23vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

.audiowave{
    width: 100%;
}

.audiotime{
    font-size: 3.3vw;
    min-width: 11vw;
    text-align: center;
}


.graph{
    height: 50vw;
    width: auto;
}

.brickcontainer{
    background-color: var(--light-purple);
    border-radius: 4vw;
    margin-bottom: 5vw;
    box-shadow: 0 0 12px rgba(0, 0, 0, .3);
    width: 47%;
    height: 37vw;
    contain: content;
    padding: 2.5vw 4vw 2.5vw 4vw;
}

.medium{
    width: 100%;
    height: 26vw;
    padding: 3.5vw 5vw 4vw 5vw;
}

.large{
    width: 100%;
    height: 43vw;
    padding: 3.5vw 5vw 4vw 5vw;
}


/* RatingModal.css */
.modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #1c072080;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
  }
  
  .icon-container{
    margin-top: 15px;
    margin-bottom: 30px;
  }
  
  .icon-container img {
    margin-right: 10px; 
    width: 50px; 
    height: 50px;
  }

  /* SleepSummaryCard.css */
.sleep-summary-card {
    text-align: left;
  }

  .SleepTracker{
    text-align: center;
  }


