@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');

:root{
    --darkest-purple: #1C172F; 
    --darker-purple: #241E3C;
    --dark-purple: #30274F;
    --purple: #433770;
    --light-purple: #54458C;
    --peach: #E77360;
    --titel-text:#F0EEE6;
    --body-text:rgba(240, 238, 230, 0.7);
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    color: var(--titel-text);
}

.titel{
    font-family: "gyst-variable",sans-serif;
    font-variation-settings: 'wght' 550;
    font-size: 13vw;
}

.titel-big{
    font-size: 17vw;
}

.heading{
    font-family: "mundial", sans-serif;
    font-weight: 100;
    font-size: 6.5vw;
    padding-bottom: .8vw;
    line-height: 7vw;
}

.heading-small{
    font-size: 4vw;
    font-weight: 100;
}

.bodytext{
    font-family: "poppins-light", sans-serif;
    font-weight: 100;
    font-style: italic;
    color: var(--body-text);
    font-size: 3.5vw;
    line-height: 5vw;
}

.page-content{
    background-image: url("/src/assets/background-default.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 7vw;
}

.button-small, .button-big{
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-size: 3vw;
    background-color: var(--peach);
    color: var(--darkest-purple);
}

.button-small{
    padding: 5px 25px 5px 25px;
}

.button-big{
    padding: 11px 25px 11px 25px;
}

.button-purple{
    font-family: "poppins", sans-serif;
    font-weight: 400;
    background-color: var(--titel-text);
    color: var(--darker-purple);
}

nav{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest-purple);
    box-shadow: inset 0 7px 15px -7px rgb(0, 0, 0,0.7);
    z-index: 1;
}

nav a{
    display: flex;
    color: var(--titel-text);
    font-size: 9vw;
    padding-bottom: 3vw;
    padding-top: 3vw;
    justify-content: center;
}

.active{
    background-image: url("/src/assets/nav-active.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.nav-item{
    width: 33%;
}


.brickcontainer{
    background-color: var(--light-purple);
    border-radius: 4vw;
    padding: 3.5vw 5vw 4vw 5vw;
    margin-bottom: 5vw;
    box-shadow: 0 0 12px rgba(0, 0, 0, .3);
    width: 50%;
    height: 37.5vw;
    contain: content;
}

.medium{
    width: 100%;
    height: 26vw;
}

.large{
    width: 100%;
}
